<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnvb.My.MySettings.Do_an_QLSVConnectionString" connectionString="Data Source=DESKTOP-85KFU4O\SQLEXPRESS;Initial Catalog=Do_an_QLSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAnvb.My.MySettings.Do_an_QLSVConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=Do_an_QLSV;User ID=sa;Password=123456aA@;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>